<% if(success && success.length > 0){ %>
        <div class="flash-message" id="flash">
    
    <span class="flash-text">
        ✅ <%=  success %>
    </span>

    <button class="flash-close" onclick="closeFlash()">
        &times;
    </button>

</div>
<% } %>




<% if(error && error.length > 0){ %>
<div class="flash-message" style="border-left-color: red ;" id="flash">
    
    <span class="flash-text">
        <%= error %>
    </span>

    <button class="flash-close" onclick="closeFlash()">
        &times;
    </button>

</div>
<% } %>


<script>
function closeFlash(){
    document.getElementById('flash').style.display = 'none';
}

setTimeout(() => {
    const flash = document.getElementById('flash');
    if(flash){
        flash.style.opacity = "0";
        setTimeout(() => flash.remove(), 300);
    }
}, 4000);
</script>
