

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/listings">CloudO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " aria-current="page" href="/api/listings">Explore</a>
      </div>
      <div class="navbar-nav" >
        <a class="nav-link " aria-disabled="true" href="/api/listings/new">Add listing</a>
        <% if(!locals.islogin) { %>
        <a class="nav-link " aria-current="page" href="/api/signup">Sign up</a>
        <a class="nav-link " aria-current="page" href="/api/login">login</a>

        <% } else  {%>
        <a class="nav-link " aria-disabled="true" href="/api/logout">logout</a>
        <%}%>
      </div>
    </div>
  </div>
</nav>